body{
    background-color: rgb(240, 227, 229);
}
.htag{
    padding: 5px 7px;
    font-family:cursive;
    font-weight: 400;
    font-size: 25px;
}
.tag{
    padding: 5px 7px;
    font-family:cursive;
    font-weight: 400;
    font-size: 18px;

}
.htagblock{
    padding: 5px 7px;
    font-family:cursive;
    font-weight: 400;
    font-size: 25px;
    color:grey;
}
.htae{
    padding: 10px 7px;
    font-family:sans-serif;
    font-weight: 400;
    font-size: 50px;

}
.hta{
    font-size:20px;
}
.ptag{
    margin:5px 0;
    font-size: 18px;
}
.img{
    margin-left:0;
    height: 500px;
    width:100%;
}
.ptage{
    margin-left:0%;
    margin-top:2%;
    font-size: 18px;
}
.card.or{
    background-color: rgb(240, 227, 229);
    margin-left: 20%;
}
.next{
    margin-left: 50%;
}
.hrtag{
    border:1px solid pink
}
@media (max-width: 800px) {
    .card.or{
        margin: 0;
        width: 100% !important;
    }
    .htae{
       font-size: 37px;
    }
    .img{
        height: 350px;
    }
    .tag{
        font-size: 15px;
    }
}